<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/home.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="header-wrapper">
		<div id="logo">
		<img src="../static/picture/portfolio.png" alt="logo" >
		</div>
	
		<div id="header-text">
		<h4>我们在燃烧的忍耐中武装，随着拂晓进入光辉的城镇</h4>
		<h6>
		<a href="#">主页 → </a><a href="#">维基</a>
		</h6>
		</div> 	
		
	</div>
	<div id="menu-wrapper">
	<div id="main-menu">
		<ul>
		<li>
		<a href="#" >介绍</a>
		</li>
		<li>
		<a href="#">文字</a>
		</li>
		<li>
		<a href="#">关于</a>
		</li>	
		<li>
			<a href="/project" >项目</a>
		</li>
		</ul>
	</div>
	<div id="footer">
	<h6>© 2012 – 2014 winoi.com </h6>
	</div>
	</div>
	
<div id="container">
<div class="proj_item">
<div class="proj_picture">
<img src="../static/picture/portfolio.png"  class="proj_image" alt=""  >
</div>
<div class="proj_text">
<h6>个人维基</h6>
<h6>个人的维基</h6>
</div>
</div>

<div class="proj_item">	
<div class="proj_picture">
<img src="../static/picture/irsec.png"  class="proj_image" alt=""  >
</div>
<div class="proj_text">
<h6>学学看</h6>
<h6>教育类iosAPI</h6>
</div>
</div>

<div class="proj_item">
<div class="proj_picture">
<img src="../static/picture/yuekelogo.png" class="proj_image" alt=""  >
</div>
<div class="proj_text">
<h6>约课网</h6>
<h6>教育平台</h6>
</div>
</div>

<div class="proj_item">
<div class="proj_picture">
<img src="../static/picture/yuekelogo.png" class="proj_image" alt=""  >
</div>
<div class="proj_text">
<h6>Rockwell Automation</h6>
<h6>PowerMonitor</h6>
</div>
</div>

</div>





<div id="contact_info">
<div id="email">
<h5>Email</h5>
<p>wenbin.rc#gmail.com</p>
</div>
</div>



</body>
</html>