<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/home.css" rel="stylesheet" type="text/css" />
</head>

<body>
{% include "header.html" %}
<div id="container">

{% if blog.proj_id %}
<div id="from_proj">
	来自:<a href="{{ url_for('project_details', project_id=blog.proj_id) }}">{{ blog.project.name }} </a>
</div>
{% endif %}
<div id="passage-single">
<h2>{{ blog.title }}</h2>
{{ blog.content|safe }}
</div>

</div>
{% include "contact.html" %}


</body>
</html{}