<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/home.css" rel="stylesheet" type="text/css" />
</head>

<body>
	{% include "header.html" %}
	<div id="container">
	{% for b in blogs%}
	<div class="passage">
	<h2>{{ b.title }}</h2>
	<p>{{ (b.content|safe|html2text)[0:300] }} ....   <a href="{{ url_for('blog', blog_id = b.id)}}" > 继续阅读</a></p>
	<div class="time">{{ b.created_time|dateformat }}</div>
	</div>
	{% endfor %}
	</div>
{% include "contact.html" %}
</body>
</html>