<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/home.css" rel="stylesheet" type="text/css" />
</head>

<body>
{% include "header.html" %}
<div id="container">


<div id="passage-single">
<h2>{{ project.name }}</h2>
{{ project.intro|safe }}
</div>

<div id="related_blog">
<h2>相关博客:</h2>
<ul>
{% for b in project.blogs %}
<a href="{{ url_for('blog', blog_id=b.id)}}" >
<li>{{ b.title }}</li>
</a>
{% endfor %}
</ul>
</div>

</div>
{% include "contact.html" %}


</body>
</html>