<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/home.css" rel="stylesheet" type="text/css" />
</head>

<body>
{% include "header.html" %}
<div id="container">


{% for p in projects %}
<div class="proj_item" ><a href="{{url_for('project_details', project_id = p.id)}}" >	
<div class="proj_picture">
<img src="../static/picture/xuexuecan_logo.png"  class="proj_image" alt=""  >
</div>
<div class="proj_text">
<h2>{{ p.name }}</h2>
<p>{{ (p.intro|html2text)[0:70] }} ...</p>
</div></a>
</div>
{% endfor %}

</div>
{% include "contact.html" %}


</body>
</html>